@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

.c-heading {
  margin: 0 0 1rem 0;
  font-family: 'Ubuntu', 'Segoe UI', sans-serif;
}

.c-form-field label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.c-form-field input:not([type='checkbox']) {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #c8ae5b;
  font-size: 0.875rem;
  font-family: inherit;
}
